

@import "../../styles/style.css";

section.formulariosDeCadastro
{
   visibility: hidden;
   justify-content: center;
}
section.formulariosDeCadastro form
{
   transform: translateX(-30rem);
   margin-top: -28rem;
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
}
section.formulariosDeCadastro h2
{
   margin-bottom: 0rem;
   color: var(--rosa-hover);
   transform: translateX(-2.5rem);
}
section.formulariosDeCadastro p 
{
   transform: translateX(-12rem);
   color: var(--rosa-hover);
}
section.formulariosDeCadastro label
{
   transform: translateX(-10rem);
   color: var(--rosa-hover);
}
section.formulariosDeCadastro  a
{
   transform: translateX(-9rem);
   text-decoration: underline;
   color: var(--rosa-hover);
   margin-bottom: 2rem;
}
section.formulariosDeCadastro  input
{
   border: 1px solid var(--rosa-normal);
   border-radius: 0.4rem;
   width: 30rem;
   height: 4rem;
}
section.formulariosDeCadastro  input:focus
{
   outline: none;
   border: 2px solid var(--rosa-hover);
}
section.formulariosDeCadastro  input::placeholder
{
   padding-left: 2rem;
   color: var(--rosa-normal);
}
section.formulariosDeCadastro button
{
   background: none;
}
 /*===  RESPONSIVO =================*/
@media (max-width: 950px) 
{   form {
      margin-left: 10rem;
   }
}
@media (max-width: 800px) 
{   form {
      margin-left: 15rem;
   }
}
@media (max-width: 700px) 
{   form {
      margin-left: 20rem;
   }
}
@media (max-width: 550px) 
{   form {
      margin-left: 25rem;
   }
}





