

@import"menu-expand.css";
@import"services.css";
@import"sobre.css";
@import"contato.css";
@import"footer.css";
@import"style.css";


.wrapper 
{
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
section {
  padding-block: 1rem;
}
section header h4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  margin-bottom: 1.6rem;
}
section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--rosa-hover);
}

section .content p 
{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);
}

/*=== #HOME =================================*/
section#home 
{
  height: 80rem;
  padding-block: 0;
  padding-top: calc(4rem + var(--nav-height));
  margin-top: 0rem;

  background-image: url(../imagens/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section#home h1
{
  margin-top: 10rem;
  color: white;
  margin-bottom: 6rem;
}
section#home h1 strong
{
  color: var(--rosa-hover);
}
#home::before {
  content: '';
  width: 100%;
  height: calc(76% + var(--nav-height));
  background-color: white;
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#home .button {
  margin-inline: auto;
  border-color: white;
  color: white;
  transition: var(--transicao-padrao);

}
#home .button:hover{
  border: none;
  transition: var(--transicao-padrao);
}

/*
#home img {
  border-radius: 0.5rem;
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}
*/
/*=== RESPONSIVO =================================*/
@media (min-width: 1024px) {
  /*=== GERAL =================================*/
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }
  /*=== NAVIGATION =================================*/
  /* reset */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;

    color: var(--primary-color);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    border: none;
    color: white;
  }

  nav#navigation.scroll .menu a.button {
    border-color: white;
    color: white;
  }

  nav#navigation .menu li a {
    transition: var(--transicao-padrao);
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);

    position: relative;
    bottom: -0.5rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }

  /*=== HOME =================================*/
  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }

  #home .col-a {
    text-align: left;
    align-self: center;
  }

  #home h1 {
    font-size: 5.2rem;
  }
  #home h1 strong {
    color: var(--rosa-normal);
  }

  #home .content p {
    font-size: 1.8rem;
  }
  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  /*=== SERVICES ============*/
  #services h2 {
    width: 47rem;
    margin-inline: auto;
  }
  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }
  #services .card {
    width: 30%;
    flex-grow: 1;
  }

  /*=== ABOUT ================*/
  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.2rem;
  }
  section#about .col-a {
    align-self: center;
  }
  #about .content p {
    margin-bottom: 0;
  }

  /*=== CONTACT =============*/
  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
  }
  #contact h2 {
    width: 40.4rem;
  }
  
  /*=== FOOTER ==============*/
  footer {
    padding-block: 8rem;
  }
  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }
  footer .col-a {
    align-self: center;
  }
  footer .col-b {
    align-self: center;
    justify-self: flex-end;
  }
  footer p {
    margin-bottom: 0
  }
  
}

